@media(max-width:738px){
    .center{
        padding-left:16px;
        padding-right:16px ;
    }
    .main-hero-page{
        height: 649px;
    }
    .main-btn{
        font-size:16px;
    }
    .main-animated{
        height: 51.34px;
    }
    .main-runtext-style{
        font-size: 16px;
        margin-top: 17px
    }
.main-title{
    width: 343px;
    height: 371px;
}
.main-angleUp{
    display:none;
}
.main-angleMidle{
    display: none;
}
.main-angleDown{
    display:none;
}
.main-line{
    display: none;
}
.main-triangle{
    display: none;
    
}
.main-star-small-1{
    display: none;
}
.main-star-small-2{
    display: none;
}
.main-star-small-3{
    display: none;
}
.main-star-small-4{
    display: none;
}
.main-star-big{
    display: none;
    
}
.main-mob-star-small-1{
    display: flex;
    position: absolute;
    top:64px;
    left: 92px;
}
.main-mob-star-small-2{
    display: flex;
    position: absolute;
    left:38px;
    top:97px
}
.main-mob-star-small-3{
    display: flex;
    position: absolute;
    left:273px;
    top:557px;
}
.main-mob-star-small-4{
    display: flex;
    position: absolute;
    left:304px;
    top:580px;
}
.main-mobile-star-big{
    display: flex;
    position: absolute;
    left: 215px;
}
.main-h1{
width: 262px;
height: 196px;
font-family: "Montserrat";
font-weight: 700;
font-style: Bold;
font-size: 40px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
margin-left: 40.5px;
}
.main-h2{
    width: 296px;
height: 60px;
font-family: "Montserrat";
font-weight: 400;
font-style: "Regular";
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
margin: 0px;
margin-left:23.5px;
margin-bottom: 36px;
}

.main-btn{
    width: 285px;
    height: 55px;
    margin-left: 29px;
}

.ftr{
    height: 100px;
}
.ftr-title{
    margin-left: 0px;
    padding-top: 40px;
    margin-left: px;
    font-family: "Montserrat";
font-weight: 600;
font-style: "SemiBold";
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
    width: 190px;
    margin-left: 93px;

}
.bold{
    font-weight:bold;
}
/* Создаю новый блок "мини - игры"
.about-games-svg-Big{
display: none;
}
.about-games-svg-Small-1{
display: none;
}
.about-games-svg-Small-2{
display: none;
}
.about-games-title-h2{
    display:none;
}
.about-games-title-h3{
    display: none;
}
.mini-games{
        width: 314px;
    height: 78px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: white;
    margin-bottom: 24px;
    display:flex;
}
.about-games{
   padding-left: 16px;
   padding-right: 16px;
   padding-bottom: 144px;
   padding-top: 0px;
   padding-top: 48.34px;
   height: 3740px;
}
.about-games-box-all{
    display: flex;
    flex-direction: column;
}
.about-games-box{
    padding-left: 0px;
    padding-right: 0px;
}
.about-games-box-link-1{
     width: 343px;
height: 529px;
}
.about-games-box-1{
    width: 343px;
height: 529px;
} */

.about-games{
    display:none;
}
.star-mini-1{
     display: none;
}
.star-mini-2{
  display: none;
}
.star-mini-3{
   display: none;
}
.star-mini-4{
    display: none;
}
.mini-games-play-all{
    gap:24px;
}
.mini-games-title{
    font-size:40px;
    margin-bottom: 48px;
}
.mini-games{
//    height: max-content;
   padding-bottom: 10px;
}
.mini-games-play-1{
    max-width: 343px;
// height: 528.6px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 1);
display: flex;
flex-direction: column-reverse;
justify-content: flex-end;
row-gap: 32px;
}

.mini-games-play-2{
    max-width: 343px;
// height: 567.6px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 1);
display: flex;
flex-direction: column;
justify-content: flex-start;
row-gap: 32px;
}
.mini-games-play-3{
    max-width: 343px;
// height: 567.6px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 1);
display: flex;
flex-direction: column-reverse;
justify-content: flex-end;
row-gap: 32px;
}
.mini-games-play-4{
    max-width: 343px;
// height: 606.6px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 1);
display: flex;
flex-direction: column;
justify-content: flex-start;
row-gap: 32px;
}
.mini-games-play-5{
    max-width: 343px;
// height: 567.63px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 1);
display: flex;
flex-direction: column-reverse;
justify-content: flex-end;
row-gap: 32px;
}
.mini-games-play-6{
    max-width: 343px;
// height: 626.6px;
border-radius: 30px;
background-color: rgba(255, 255, 255, 1);
display: flex;
flex-direction: column;
justify-content: flex-start;
row-gap: 32px;
}

.mini-games__item-pic{
    width: 343px;
    height: 285px;
}
.mini-games-name-left{
//      margin-top:0px;
//     margin-right: 29.04px;
//     margin-left: 29.04px;
//     width: 285px;
// height: 182px;
}
.mini-games-name-right{
//      margin-top:0px;
//     margin-right: 29.04px;
//     margin-left: 29.04px;
//     width: 285px;
// height: 182px;
}
.mini-games-name{
    font-family: "Montserrat";
font-weight: 700px;
font-style: Bold;
font-size: 32px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
vertical-align: middle;
margin-bottom: 16px;
width: 285px;
}

.mini-games-discription{
font-family: "Montserrat";
font-weight: 400px;
font-style: "Regular";
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
vertical-align: middle;
margin-bottom: 32px;
width: 249px;
}

.mini-games-btn{
// width: 285px;
height: 55px;
border-width: 1px;
border-radius: 60px;
padding-top: 16px;
padding-right: 28px;
padding-bottom: 16px;
padding-left: 28px;
font-size: 16px;
}
}