@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.main-hero-page {
  background-color: rgb(225, 255, 143);
  position: relative;
}

.main-header {
  overflow: hidden;
  /* Скрываем ту часть картинки, которая вылезает за экран */
  z-index: 1;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main-title {
  padding-top: 196px;
  padding-bottom: 180px;
}

.main-h1 {
  max-width: 769px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}

.main-h2 {
  width: 720px;
  height: 64px;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: "Regular";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 48px;
}

.main-btn {
  width: 246px;
  height: 66px;
  border-radius: 60px;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: "SemiBold";
  font-size: 24px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.main-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.main-animated {
  background-color: rgb(188, 236, 48);
  /* Чтобы дочерний блок позиционировался относительно секции */
  overflow: hidden;
  /* Скрываем ту часть картинки, которая вылезает за экран */
  z-index: 1;
}

.main-runtext {
  white-space: nowrap;
  /* Не даем тексту переноситься */
}

.main-runtext span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-text 10s linear infinite;
  /* 10s — скорость */
}

@keyframes scroll-text {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.main-runtext-style {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 4%;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 28px;
  padding-bottom: 27px;
}

.about-games {
  background-color: rgb(32, 32, 39);
}

.about-games-title-h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: white;
  margin-bottom: 24px;
  padding-top: 94px;
}

.about-games-title-h3 {
  width: 788px;
  height: 96px;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: "Regular";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: white;
}

.about-games-box-all {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.about-games-box-1 {
  height: 473px;
  background-color: white;
  border-radius: 30px;
}

.about-games-box-2 {
  height: 512px;
  background-color: white;
  border-radius: 30px;
}

.about-games-box-3 {
  height: 473px;
  background-color: white;
  border-radius: 30px;
  z-index: 1;
}

.about-games-box-4 {
  height: 551px;
  background-color: white;
  border-radius: 30px;
}

.about-games-box-5 {
  height: 512px;
  background-color: white;
  border-radius: 30px;
}

.about-games-box-6 {
  height: 551px;
  background-color: white;
  border-radius: 30px;
}

.picGame {
  width: 100%;
}

.about-games-box-GameName {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
  padding-left: 20px;
}

.about-games-box-game {
  margin-top: 32px;
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background-color: rgb(247, 247, 247);
  font-family: "Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0px;
  vertical-align: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-games-box-name {
  width: 314px;
  height: 78px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.about-games {
  position: relative;
  /* Скрываем ту часть картинки, которая вылезает за экран */
}

.about-games-svg-Big {
  position: absolute;
  top: 393px;
  /* Центрируем по вертикали */
  right: 0px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%);
  /* Точная центровка по вертикали */
  /* Размер вашей SVG */
  background-repeat: no-repeat;
  z-index: 0;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.about-games-svg-Small-1 {
  position: absolute;
  top: 825px;
  /* Центрируем по вертикали */
  left: 25px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%);
  /* Точная центровка по вертикали */
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.about-games-svg-Small-2 {
  position: absolute;
  top: 900px;
  /* Центрируем по вертикали */
  left: 40px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%);
  /* Точная центровка по вертикали */
  background-repeat: no-repeat;
  z-index: 0;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-star-big {
  position: absolute;
  top: 389px;
  /* Центрируем по вертикали */
  right: 0;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(0deg);
  /* Точная центровка по вертикали */
  height: 791.06px;
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-star-small-1 {
  position: absolute;
  top: 69px;
  /* Центрируем по вертикали */
  left: 156px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(-1deg);
  /* Точная центровка по вертикали */
  width: 35px;
  /* Размер вашей SVG */
  height: 35px;
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-star-small-2 {
  position: absolute;
  top: 94px;
  /* Центрируем по вертикали */
  left: 63px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(-1deg);
  /* Точная центровка по вертикали */
  width: 57px;
  /* Размер вашей SVG */
  height: 57px;
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-star-small-3 {
  position: absolute;
  top: 538px;
  /* Центрируем по вертикали */
  right: 455px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(-1deg);
  /* Точная центровка по вертикали */
  width: 37px;
  /* Размер вашей SVG */
  height: 37px;
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-star-small-4 {
  position: absolute;
  top: 568px;
  /* Центрируем по вертикали */
  right: 344px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(-1deg);
  /* Точная центровка по вертикали */
  width: 83px;
  /* Размер вашей SVG */
  height: 83px;
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-angleUp {
  position: absolute;
  top: 82px;
  /* Центрируем по вертикали */
  right: 269px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(-1deg);
  /* Точная центровка по вертикали */
  width: 317px;
  /* Размер вашей SVG */
  height: 163px;
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-angleMidle {
  position: absolute;
  top: 332px;
  /* Центрируем по вертикали */
  right: 231px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(0deg);
  /* Точная центровка по вертикали */
  width: 142px;
  /* Размер вашей SVG */
  height: 179px;
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-angleDown {
  position: absolute;
  top: 574px;
  /* Центрируем по вертикали */
  right: 4.88px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(-1deg);
  /* Точная центровка по вертикали */
  width: 219.88px;
  /* Размер вашей SVG */
  height: 418px;
  background-repeat: no-repeat;
  z-index: 0;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-line {
  position: absolute;
  top: 711px;
  /* Центрируем по вертикали */
  right: 61px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(-1deg);
  /* Точная центровка по вертикали */
  width: 34px;
  /* Размер вашей SVG */
  height: 124px;
  background-repeat: no-repeat;
  z-index: 0;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.main-triangle {
  position: absolute;
  top: 512px;
  /* Центрируем по вертикали */
  right: 113px;
  /* Сдвигаем вправо за край экрана (подберите нужное число) */
  transform: translateY(-50%) rotate(-1deg);
  /* Точная центровка по вертикали */
  width: 80px;
  /* Размер вашей SVG */
  height: 126px;
  background-repeat: no-repeat;
  z-index: 2;
  /* Картинка будет под текстом, если у текста z-index выше */
  pointer-events: none;
  /* Чтобы картинка не мешала кликать на кнопки/ссылки */
}

.about-games-box-link-1 {
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  transition: transform 0.9s ease;
}

.about-games-box-link-1:hover {
  transform: scale(1.1);
}

.about-games-box-link-2 {
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  transition: transform 0.9s ease;
}

.about-games-box-link-2:hover {
  transform: scale(1.1);
}

.about-games-box-link-3 {
  text-decoration: none;
  color: inherit;
  z-index: 1;
  border-radius: 30px;
  transition: transform 0.9s ease;
}

.about-games-box-link-3:hover {
  transform: scale(1.1);
}

.about-games-box-link-4 {
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  transition: transform 0.9s ease;
}

.about-games-box-link-4:hover {
  transform: scale(1.1);
}

.about-games-box-link-5 {
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  transition: transform 0.9s ease;
}

.about-games-box-link-5:hover {
  transform: scale(1.1);
}

.about-games-box-link-6 {
  text-decoration: none;
  color: inherit;
  border-radius: 30px;
  transition: transform 0.9s ease;
}

.about-games-box-link-6:hover {
  transform: scale(1.1);
}

.ftr {
  height: 150px;
  background-color: rgb(189, 237, 53);
}

.ftr-title {
  text-align: center;
  padding: 61px;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: "SemiBold";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.main-mobile-star-big {
  display: none;
}

.main-mob-star-small-1 {
  display: none;
}

.main-mob-star-small-2 {
  display: none;
}

.main-mob-star-small-3 {
  display: none;
}

.main-mob-star-small-4 {
  display: none;
}

.mini-games {
  background-color: rgb(32, 32, 39);
}

.mini-games-title {
  font-family: "Montserrat";
  font-weight: 700px;
  font-style: Bold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  padding-top: 96px;
  margin-bottom: 72px;
}

.mini-games-play-all {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 144px;
  align-items: center;
}

.mini-games-play-1 {
  border-radius: 47px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 48px;
}

.mini-games-play-2 {
  border-radius: 47px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 48px;
}

.mini-games-play-3 {
  border-radius: 47px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 48px;
}

.mini-games-play-4 {
  border-radius: 47px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 48px;
}

.mini-games-play-5 {
  border-radius: 47px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 48px;
}

.mini-games-play-6 {
  border-radius: 47px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 48px;
}

.mini-games__item {
  width: 50%;
}

.mini-games__item-pic {
  width: 100%;
}

.mini-games-name-left {
  width: 50%;
  padding: 48px;
}

.mini-games-name-right {
  width: 50%;
  padding: 48px;
}

.mini-games-name {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 24px;
}

.mini-games-discription {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: "Regular";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  width: 457px;
  height: 64px;
  margin-bottom: 36px;
}

.mini-games-btn {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
  background-color: rgb(32, 32, 39);
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: "SemiBold";
  font-size: 24px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
}

.mini-games-btn:hover {
  background-color: white;
  color: black;
}

.star-mini-1 {
  position: absolute;
  right: 123.79px;
  top: 2323px;
}

.star-mini-2 {
  position: absolute;
  right: 44.91px;
  top: 2356px;
}

.star-mini-3 {
  position: absolute;
  right: 52px;
  top: 5350px;
}

.star-mini-4 {
  position: absolute;
  right: 150px;
  top: 5385px;
}

@media (max-width: 738px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main-hero-page {
    height: 649px;
  }
  .main-btn {
    font-size: 16px;
  }
  .main-animated {
    height: 51.34px;
  }
  .main-runtext-style {
    font-size: 16px;
    margin-top: 17px;
  }
  .main-title {
    width: 343px;
    height: 371px;
  }
  .main-angleUp {
    display: none;
  }
  .main-angleMidle {
    display: none;
  }
  .main-angleDown {
    display: none;
  }
  .main-line {
    display: none;
  }
  .main-triangle {
    display: none;
  }
  .main-star-small-1 {
    display: none;
  }
  .main-star-small-2 {
    display: none;
  }
  .main-star-small-3 {
    display: none;
  }
  .main-star-small-4 {
    display: none;
  }
  .main-star-big {
    display: none;
  }
  .main-mob-star-small-1 {
    display: flex;
    position: absolute;
    top: 64px;
    left: 92px;
  }
  .main-mob-star-small-2 {
    display: flex;
    position: absolute;
    left: 38px;
    top: 97px;
  }
  .main-mob-star-small-3 {
    display: flex;
    position: absolute;
    left: 273px;
    top: 557px;
  }
  .main-mob-star-small-4 {
    display: flex;
    position: absolute;
    left: 304px;
    top: 580px;
  }
  .main-mobile-star-big {
    display: flex;
    position: absolute;
    left: 215px;
  }
  .main-h1 {
    width: 262px;
    height: 196px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin-left: 40.5px;
  }
  .main-h2 {
    width: 296px;
    height: 60px;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: "Regular";
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    margin-left: 23.5px;
    margin-bottom: 36px;
  }
  .main-btn {
    width: 285px;
    height: 55px;
    margin-left: 29px;
  }
  .ftr {
    height: 100px;
  }
  .ftr-title {
    margin-left: 0px;
    padding-top: 40px;
    margin-left: px;
    font-family: "Montserrat";
    font-weight: 600;
    font-style: "SemiBold";
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    width: 190px;
    margin-left: 93px;
  }
  .bold {
    font-weight: bold;
  }
  /* Создаю новый блок "мини - игры"
  .about-games-svg-Big{
  display: none;
  }
  .about-games-svg-Small-1{
  display: none;
  }
  .about-games-svg-Small-2{
  display: none;
  }
  .about-games-title-h2{
      display:none;
  }
  .about-games-title-h3{
      display: none;
  }
  .mini-games{
          width: 314px;
      height: 78px;
      font-family: "Montserrat";
      font-weight: 700;
      font-style: Bold;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: 0px;
      vertical-align: middle;
      color: white;
      margin-bottom: 24px;
      display:flex;
  }
  .about-games{
     padding-left: 16px;
     padding-right: 16px;
     padding-bottom: 144px;
     padding-top: 0px;
     padding-top: 48.34px;
     height: 3740px;
  }
  .about-games-box-all{
      display: flex;
      flex-direction: column;
  }
  .about-games-box{
      padding-left: 0px;
      padding-right: 0px;
  }
  .about-games-box-link-1{
       width: 343px;
  height: 529px;
  }
  .about-games-box-1{
      width: 343px;
  height: 529px;
  } */
  .about-games {
    display: none;
  }
  .star-mini-1 {
    display: none;
  }
  .star-mini-2 {
    display: none;
  }
  .star-mini-3 {
    display: none;
  }
  .star-mini-4 {
    display: none;
  }
  .mini-games-play-all {
    gap: 24px;
  }
  .mini-games-title {
    font-size: 40px;
    margin-bottom: 48px;
  }
  .mini-games {
    padding-bottom: 10px;
  }
  .mini-games-play-1 {
    max-width: 343px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    row-gap: 32px;
  }
  .mini-games-play-2 {
    max-width: 343px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 32px;
  }
  .mini-games-play-3 {
    max-width: 343px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    row-gap: 32px;
  }
  .mini-games-play-4 {
    max-width: 343px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 32px;
  }
  .mini-games-play-5 {
    max-width: 343px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    row-gap: 32px;
  }
  .mini-games-play-6 {
    max-width: 343px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 32px;
  }
  .mini-games__item-pic {
    width: 343px;
    height: 285px;
  }
  .mini-games-name {
    font-family: "Montserrat";
    font-weight: 700px;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-bottom: 16px;
    width: 285px;
  }
  .mini-games-discription {
    font-family: "Montserrat";
    font-weight: 400px;
    font-style: "Regular";
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-bottom: 32px;
    width: 249px;
  }
  .mini-games-btn {
    height: 55px;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about-games-box-all {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .about-games-box-1 {
    width: 100%;
    background-color: white;
    border-radius: 30px;
  }
  .about-games-box-2 {
    width: 100%;
    background-color: white;
    border-radius: 30px;
  }
  .about-games-box-3 {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
  }
  .about-games-box-4 {
    width: 100%;
    background-color: white;
    border-radius: 30px;
  }
  .about-games-box-5 {
    width: 100%;
    background-color: white;
    border-radius: 30px;
  }
  .about-games-box-6 {
    width: 100%;
    background-color: white;
    border-radius: 30px;
  }
}/*# sourceMappingURL=style.css.map */